<main class="container container-forms no-padding">
    <h1><%= namePage %></h1>

    <form class="default-form" action="/change-password" method="POST">
        <div class="field">
            <label>Previous Password</label>
            <input type="password" name="previous" placeholder="Actual Password">
        </div>
        <div class="field">
            <label>New Password</label>
            <input type="password" name="new" placeholder="New Password">
        </div>
        <div class="field send">
            <input type="submit" class="btn btn-rose" value="Save Changes">
        </div>
    </form>
</main>