<main class="container container-forms">
    <h1><%= namePage %></h1>
    <form method="POST" class="default-form">
        <legend>Delete Connecti? A deleted Connecti cannot be recovered</legend>
        
        <div class="field send">
            <input type="submit" value="Delete Connecti" class="btn btn-rose">
        </div>
    </form>
</main>