<div class="container">
    <h1><%= namePage %></h1>
    <% if(connectis.length > 0 ) {%>
        <div class="grid columns-md-3 "></div>
            <% connectis.forEach(connecti => { %>
                <%- include ('partials/card-connecti.ejs', {connecti : connecti}) %>
            <% }) %>
        </div><!--Grid-->
    <% } else { %>
        <p>No results found</p>
    <% } %>
    
</div>